.wallpaper
  .main
    .main__right-contents
      .main__right-contents__user-icon
    .main__left-contents
      .main__left-contents__navi-items--a
        マイページ
        = image_tag "dicon2.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__navi-items
        出品する
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__navi-items
        下書き一覧
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__navi-items
        出品した商品-出品中
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__navi-items
        出品した商品-取引中
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__navi-items
        出品した商品-売却済
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__navi-items
        購入した商品-取引中
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__navi-items
        購入した商品-過去の取引
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__navi-items
        ガイド
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__navi-items
        お知らせ
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__h3
        設定
      .main__left-contents__navi-items
        プロフィール
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__navi-items
        発送元・お届け先住所変更
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__navi-items
        支払い方法
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__navi-items
        メール/パスワード
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__navi-items
        本人情報
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"
      .main__left-contents__navi-items
        ログアウト
        = image_tag "dicon.png", size: "9x15", class:"main__left-contents__navi-items--a--icon"