= render 'products/header'
.wallpaper
  .main2
    .main2__right-contents
      .main2__right-contents__products-head
        出品した商品
      .main2__right-contents__tabs
        .main2__right-contents__tabs
          = link_to my_page_exhibition_mypage_path(current_user.id), class: "main2__right-contents__tabs__n1" do
            出品中
          = link_to my_page_exhibiting_mypage_path(current_user.id), class: "main2__right-contents__tabs__n1" do
            取引中
          .main2__right-contents__tabs__a1
            売却済
      .main2__right-contents__content
        %ul
          %li.main2__right-contents__content__not 
            売却済の商品がありません
    = render "side_ber"
.footer
  =render 'products/footer'
= link_to new_product_path do
  .sell__btn
    .sell__btn__text
      %p 出品する
    .sell__btn__icon
      = image_tag 'icon_camera.png', size:'54x54'