= render 'products/header'
- breadcrumb :mypage_transaction
= render "layouts/breadcrumbs"
.wallpaper
  .main2
    .main2__right-contents
      .main2__right-contents__products-head
        購入した商品
      .main2__right-contents__tabs
        .main2__right-contents__tabs
          .main2__right-contents__tabs__a
            取引中
          = link_to my_page_transactiond_mypage_path(current_user.id), class: "main2__right-contents__tabs__n" do
            過去の取引
      .main2__right-contents__content
        %ul
          %li.main2__right-contents__content__not 
            過去に取引した商品がありません
    = render "side_ber"
.footer
  =render 'products/footer'
= link_to new_product_path do
  .sell__btn
    .sell__btn__text
      %p 出品する
    .sell__btn__icon
      = image_tag 'icon_camera.png', size:'54x54'