.header__contents
  .header__up__main
    .header__up__main__icon
      = image_tag 'logo.png', size:'140x45'
    .header__up__main__search__box
      = form_with do |f| 
        = f.text_field :keyword, placeholder: "キーワードから探す", class: "search-input" 
        = label_tag '', class: 'submit__btn' do
          = icon('fas', 'search search-small', class: 'search__icon')
          = f.submit "検索", class: "submit-btn-send" 
        
  
  .header__under__main
    .header__under__main__left__list
      .header__under__main__left__list__category
        = link_to('#', {}) do
          カテゴリー
      .header__under__main__left__list__brand
        = link_to('#', {}) do
          ブランド
    .header__under__main__right__list
      - if user_signed_in?
        %p マイページ
        = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        = link_to "新規登録", new_user_registration_path, class: "header__under__main__right__list__new__user"
        = link_to "ログイン", new_user_session_path, class: "header__under__main__right__list__crrent__user"