.warappr
  .header
    = render "header"
  .main
    .main_visual
      = image_tag 'bg-mainVisual-pict_pc.jpg', size:'1265x560'
      .main_visual_content
        .main_visual_content_info
          .main_visual_content_subtitle
            %h2 人生を変えるスマホアプリ
          .main_visual_content_text
            FURIMAはだれでもかんたんに出品・購入できる
            %br フリマアプリです
          .main_visual_content_btn
            .ios_btn
              = image_tag 'Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg', size:'160x70'
            .google_btn
              = image_tag 'google-play-badge.png', size:'180x80'
    .main_explain
      .main_explain_subtitle
        FURIMAが選ばれる3つの理由
      .main_explain_list
        .main_explain_list_1
          .main_explain_list_1_pic
            = image_tag 'pict-reason-01.jpg', size:'306x306'
            .main_explain_list_1_number
              %span 1
          .main_explain_list_1_text
            %span 3分
            ですぐに出品
          .main_explain_list_1_text_dateil
            %p スマホで入力するだけで簡単に出品できる
        .main_explain_list_2
          .main_explain_list_2_pic
            = image_tag 'pict-reason-02.jpg', size:'306x306'
            .main_explain_list_2_number
              %span 2
          .main_explain_list_2_text
            %span シンプル
            で使いやすい
          .main_explain_list_2_text_dateil
            %p めんどくさい入力は必要なく、検索も購入もスムーズ！
        .main_explain_list_3
          .main_explain_list_3_pic
            = image_tag 'pict-reason-03.jpg', size:'306x306'
            .main_explain_list_3_number
              %span 3
          .main_explain_list_3_text
            手数料
            %span 業界最安
          .main_explain_list_3_text_dateil
            %p 最大3%でお得に出品＆購入！
    .main_app_dl
      = image_tag 'bg-topMiddleDl-pict.jpg', size:'1263x400'
    .main_point
    .main_pickup_content
    .main_pickup_content
    .main_appBanner
      = image_tag 'bg-appBanner-pict.jpg', size:'1263x370'
  .footer
