.header
  = render 'header'
.puroduct__show
  .puroduct__show__main
    .puroduct__show__main__item
      .puroduct__show__main__item__name
        %p 中村
      .puroduct__show__main__item__phots
        .puroduct__show__main__item__phots__top
          = image_tag 'パグ.jpeg', class: "top__imag"
          %ul
            %li
              = image_tag 'パグ.jpeg'
            %li
              = image_tag 'パグ.jpeg'
            %li
              = image_tag 'パグ.jpeg'
      .puroduct__show__main__item__price
      .puroduct__show__main__item__text
      .puroduct__show__main__item__detil